Package: com.pkgfiles.pokeboxreborn
Name: Pokébox Reborn
Version: 1.1
Architecture: iphoneos-arm
Description: Pokémon style notifications!
Maintainer: pkgFiles
Author: pkgFiles
Section: Tweaks
Depends: ${ORION}, firmware (>= 15.0)
SileoDepiction: https://pkgfiles.github.io/sileodepictions/com.pkgfiles.pokeboxreborn/depiction.json
Depiction: https://pkgfiles.github.io/depictions/?p=com.pkgfiles.pokeboxreborn
Icon: https://raw.githubusercontent.com/pkgFiles/pkgfiles.github.io/main/assets/TweakIcons/PokeboxReborn.png
